<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.exhibitionThreeAdmin.exhibition">
	<select id="totalCnt" resultType="int" parameterType="sVO">
		select count(*) from exhibition
		<where>
		<if test="keyword != null and keyword != ''">
			${field} like '%'||#{keyword}||'%'
		</if>
		</where>
	</select>
	<select id="selectEx" resultType="kr.co.exhibitionThreeAdmin.exhibition.domain.ExhibitionDomain" parameterType="sVO">
		select *
			from(
				select row_number() over(order by input_date desc) rnum, ex_name, ex_info, ex_intro,  total_count,  ex_status, exhibition_poster, add_img, 
				ex_num,adult,teen, child, ex_hall_num, cat_num,
				exhibit_date,deadline, input_date
				from exhibition
			<where>
				<if test="keyword != null and keyword != ''">
				${field} like '%'||#{keyword}||'%'
				</if>
			</where> 
			)
				<where>
				ex_status in('y','p') 
				<if test="startNum != 0 or endNum != 0">
				and (rnum between #{startNum} and #{endNum})
				</if>
				</where>
	</select>

</mapper>