<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.exhibitionThreeAdmin.additional">
	<!-- 로그인  -->
	<select id="loginChk" resultType="String" parameterType="String">
		SELECT password FROM admin 
		WHERE admin_id=#{id}
	</select>

	<select id="passChk" resultType="String" parameterType="String">
		SELECT password FROM admin 
		WHERE admin_id=#{admin_id}
	</select>
	
	<update id="updatePass" parameterType="kr.co.exhibitionThreeAdmin.additional.vo.LoginVO">
		UPDATE admin SET password=#{password} 
		WHERE admin_id=#{admin_id}
	</update>
	
	
	
	<!-- 대시보드 -->
	<select id="countMember" resultType="int">
		SELECT COUNT(userid) FROM member WHERE ISDELETED='n' 
	</select>
	<select id="cntTodayMember" resultType="int">
		SELECT COUNT(userid) FROM member 
		WHERE to_char(to_date(subscribe_date, 'yyyy-MM-dd'))=to_char(to_date(sysdate, 'yyyy-MM-dd'))
	</select>

	<select id="cntShownRez" resultType="int">
		SELECT COUNT(userid) FROM reservation
		WHERE rez_status='t'
	</select>
	<select id="cntAllRez" resultType="int">
		SELECT COUNT(userid) FROM reservation
	</select>
	
	<select id="cntTodayRez" resultType="int">
		SELECT COUNT(userid) FROM reservation
		WHERE to_char(to_date(rez_date, 'yyyy-MM-dd'))=to_char(to_date(sysdate, 'yyyy-MM-dd'))
	</select>
	
	<select id="cntTodayBoard" resultType="int">
		SELECT COUNT(userid) FROM board
		WHERE to_char(to_date(input_date, 'yyyy-MM-dd'))>to_char(to_date(sysdate-2, 'yyyy-MM-dd'))
	</select>
	<select id="cntAllExhibition" resultType="int">
		SELECT COUNT(ex_num) FROM exhibition
		WHERE ex_status='r'
	</select>
	<select id="endedExhibition" resultType="int">
		SELECT count(*) from exhibition
		WHERE (to_date(sysdate,'yyyy-MM-dd') - to_date(deadline, 'yyyy-MM-dd'))>0
	</select>
	<select id="endsTomorrow" resultType="int">
		SELECT count(*) from exhibition
		WHERE to_char(to_date(sysdate+1,'yyyy-MM-dd')) = to_char(to_date(deadline, 'yyyy-MM-dd'))
	</select>
	
	
	
	
</mapper>