<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.exhbitionThreeAdmin.exHall">

<!-- 전체 전시장 수 -->
<select id="totalRows" resultType="int" parameterType="bhsVO">
	select count(*) 
	from exhibition_hall
	<where>
		hall_deleted ='n'
		<if test="keyword !=null and keyword!=''"> 
		and ${option} like '%'||#{keyword}||'%'
		</if>
	</where>	
</select>

<!-- 전시장 조회 !! exloc 연결필요-->
<select id="selectExHall" resultType="kr.co.exhibitionThreeAdmin.exHall.domain.AdminExHallDomain" parameterType="bhsVO">
		select *
		from (select rownum as rnum, ex_hall_name, ex_loc, ex_hall_num
			  from( select * from EXHIBITION_HALL
			  		<where>
			  		HALL_DELETED='n'
			  		<if test="keyword !=null and keyword!=''">
						and ${option} like '%'||#{keyword}||'%'
					</if>
					</where>
			  		order by ex_hall_num desc) 
	<![CDATA[ where rownum <= #{endNum} ]]>)
		where rnum >= #{startNum}
		order by rnum
</select>

<!-- 전시장 추가 -->
<insert id="insertExhall" parameterType="kr.co.exhibitionThreeAdmin.exHall.vo.AdminExHallVO">
	insert into exhibition_hall(ex_hall_num, hall_deleted, ex_hall_name, ex_loc, zipcode, latitude,
			longitude, mgr_name, mgr_tel, ex_tel, address1, address2)
	values(ex_hall_num_seq.nextval, 'n', #{ex_hall_name},#{ex_loc},#{zipcode},#{latitude},
		#{longitude}, #{mgr_name},#{mgr_tel},#{ex_tel},#{address1},#{address2})
</insert>

<!-- 전시장 수정  -->
<update id="updateExhall" parameterType="kr.co.exhibitionThreeAdmin.exHall.vo.AdminExHallVO">
	update EXHIBITION_HALL														
	set	ex_hall_name=#{ex_hall_name}, address1=#{address1}, address2=#{address2}, 
		zipcode=#{zipcode}, latitude=#{latitude}, longitude=#{longitude}, mgr_name=#{mgr_name}, 
		mgr_tel=#{mgr_tel}, ex_tel=#{ex_tel}							
	where ex_hall_num=#{ex_hall_num}	
</update>

<!-- 전시장 삭제 -->
<update id="deleteExhall" parameterType="kr.co.exhibitionThreeAdmin.exHall.vo.AdminExHallVO">
	UPDATE EXHIBITION_HALL SET HALL_DELETED='y' WHERE EX_HALL_NUM=#{ex_hall_num}
</update>

<!-- 전시장 상세 -->
<select id="exhallDetail" resultType="kr.co.exhibitionThreeAdmin.exHall.domain.AdminExHallDomain" parameterType="int">
	select EX_HALL_NUM, ex_hall_name, ex_loc, zipcode, latitude, longitude, mgr_name, mgr_tel, ex_tel, address1, address2	
	from EXHIBITION_HALL 																			
	where ex_hall_num=#{ex_hall_num}		
</select>

</mapper>